.App {
  text-align: center;
}

/* General Views */
.View {
  width: 100%;
  position: relative;
  padding-top: 25px;
  padding-bottom: 0px;
  overflow: hidden;
}

.ContainerView {
  z-index: 300;
  padding: 10px;
  margin-left: 12%;
  margin-right: 12%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
