.MainView {
  color: black;
}

#spacerOne {
  height: 8vh;
  position: relative;
}

#mainViewContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

#mainPreview {
  height: 600px;
  position: relative;
}

#appInformationView {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;
  justify-content: left;
  position: relative;
}

.logoContainer {
  position: relative;
  display: flex;
  justify-content: left;
}

#mainLogoImage {
  width: 150px;
  height: 150px;
  border-radius: 35px;
}

#logoText {
  padding-top: 40px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

#priceText {
  padding-top: 5px;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  padding-left: 1px;
}

#mainInformationText {
  padding-top: 40px;
  max-width: 45vw;
  text-align: left;
}

#downloadContainer {
  display: flex;
}

#appStoreDownload {
  width: 200px;
  position: relative;
  padding-top: 40px;
}

#spacerTwo {
  height: 5vh;
  position: relative;
}

#featureViewContainer {
  height: auto;
  top: -80px;
  position: relative;
}

#featureViews {
  height: 100%;
  margin: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#footerView {
  position: relative;
  font-size: 20px;
  top: -100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

#boldName {
  color: #1bafa9;
}

@media only screen and (max-width: 875px) {
  #mainViewContainer {
    position: relative;
    top: -25px;
  }

  #mainPreview {
    display: none;
  }

  #appInformationView {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 30px;
  }

  #spacerOne {
    height: 0vh;
    position: relative;
  }

  #mainInformationText {
    padding-top: 30px;
    max-width: 95vw;
  }

  #logoText {
    padding-left: 20px;
  }

  #featureViews {
    padding-top: 30px;
    margin: 5px;
  }

  #footerView {
    top: -50px;
  }

  #appStoreDownload {
    left: -22px;
  }
}

@media only screen and (max-width: 600px) {
  #appInformationView {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }

  #featureViews {
    padding-top: 50px;
    margin: 5px;
  }

  #appStoreDownload {
    left: 0px;
  }
}
